#wrapper {
    max-width: 480px;
    margin: auto;
}
#description, #search, #todo-list {
    font-size: 1.5em;
}

li:hover {
  cursor: pointer;
}

li {
  user-select: none;
}
#finish-button {
  display: none;
}
